
<div class="cardmx-0 mb-1 text-white bg-dark rounded">
    <div class="card-header d-flex justify-content-between">
          <div>{{ action.title }}</div>

          <div>
            <button (click)="clear()" class="btn py-0 px-2 text-light"><fa-icon [icon]="faTrash"></fa-icon></button>
            <button (click)="click()" class="btn p-0 text-success"><fa-icon [icon]="faPlay"></fa-icon></button>
          </div>
    </div>

    <div class="card-body hide-if-empty">
        <!-- <ng-content></ng-content> -->
    </div>
</div>
