<div class="card mb-1 alert-primary">
  <div class="card-header d-flex justify-content-between fw-bold">
    <div>Actions</div>
        <div>
            <button (click)="clear()" class="btn-icon py-0 px-2"><fa-icon [icon]="faTrash" class="text-light"></fa-icon></button>
            <button (click)="play()" class="btn-icon p-0"><fa-icon [icon]="faPlay" class="text-success"></fa-icon></button>
        </div>
  </div>
</div>
  
<div>
  <div *ngFor="let action of dataService.actions">
    <w3tk-action [action]="action">
      <ng-content></ng-content>
    </w3tk-action>
  </div>

</div>