<div class="px-3 pt-3 text-white h-100 d-flex flex-column">
  <div style="white-space: nowrap; text-align: center;">
    <a href="#" class="text-white text-decoration-none align-items-center">
      <img src="assets/img/favicon.png" class="px-2" style="height: 20px;" /> <span style="vertical-align: -0.25rem; font-size: 1.15rem; padding-left: 0.5rem; ">Web3ToolKit</span>
    </a>
  </div>
    <hr>

    <div class="accordion flex-grow-1" id="menuAccordion" style="overflow-y: auto;">

      <div *ngFor="let module of modules; let i = index" class="accordion-item">
        <h2 class="accordion-header" id="{{ 'acc-heading-' + i }}">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#acc-collapse-' + i" aria-expanded="true" [attr.aria-controls]="'acc-collapse-' + i">
            <fa-icon [icon]="module.icon" class="px-2"></fa-icon> {{module.module}}
          </button>
        </h2>
        <div id="{{ 'acc-collapse-' + i }}" class="accordion-collapse collapse show" [attr.aria-labelledby]="'acc-heading-' + i">
          <div *ngFor="let action of getActions(module.module)" class="accordion-body" title={{action.description}}>
            <a href="#" (click)="addAction(action)" class="nav-link">{{action.title}} <img *ngIf="action.requiresConnection" src="assets/img/circle.svg" class="p-2" title="This action requires an active internet connection." style="float: right;"></a> 
          </div>
        </div>
      </div>

    </div>
    
  <div class="mb-3" style="position: relative; bottom: 0px;">
    <hr>
    <a href="#" class="mx-3 text-white text-decoration-none" [routerLink]="['/about']" >About</a>
  </div>

</div>



