@import '../../../../assets/variables';

.nav-link:hover {
    background-color: $primary !important
}

.nav-link .fa {
    transition: all 1s
}

.nav-link:hover .fa {
    transform: rotate(360deg)
}

.accordion, .accordion-item, .accordion-header, .accordion-button, .accordion-body {
    background-color: $dark;
    color: $light;
    padding: 0.25rem 0px;
    border: none;

    button {
        border-color: $light;
    }

    .nav-link {
        padding: 0.25rem 0rem 0.25rem 2rem;
        color: $light;
        border-radius: 0.25rem;
        border: none;
        background-color: $dark;
        width: 100%;
        text-align: left;
    }
}

.accordion-body {
    font-size: 0.9rem;
}

.accordion-button.collapsed::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button:not(.collapse)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}