
<div class="card mx-0 mb-0 text-white bg-dark">
    <div class="card-header d-flex justify-content-between">
        <div >Get Balance from public address(es)</div>
        <div >
            <button (click)="getBalances()" class="btn p-0"><fa-icon [icon]="faPlay" class="text-success" ></fa-icon></button>
        </div>
  </div>
    <div class="card-body">
        <textarea cols="5" [(ngModel)]="addresses" id="addresses" name="addresses" class="m-1 w-100" ></textarea> <br />
    </div>
    <div class="card-footer">
          <textarea rows="20" class="p-3 w-100" readonly disabled>{{result}}</textarea>
    </div>
</div>
