<div class="d-flex flex-column flex-shrink-0 h-100">
<a href="/" class="d-block pb-4 pt-2 text-center border-bottom web3tklink link-light text-decoration-none" title="web3toolkit">
    <img src="assets/img/favicon.png" class="mb-2" style="height: 36px;" /> <br />
    <span class="fw-bold">Web3Toolkit</span>
</a>
<ul class="nav nav-pills flex-column mb-auto text-center link-light">
    <li>
        <a href="#" class="nav-link py-3 border-bottom border-secondary link-light" aria-current="page" title="Home" data-bs-toggle="tooltip"
            data-bs-placement="right" data-bs-original-title="Home">
            <fa-icon [icon]="faHome"></fa-icon> <br />
            <span>Home</span>
        </a>
    </li>
    <li>
        <a href="#" class="nav-link py-3 border-bottom border-secondary link-light" title="Tools" [routerLink]="['/tools']">
            <fa-icon [icon]="faToolbox"></fa-icon> <br />
            <span>Tools</span>
        </a>
    </li>
    <li>
        <a href="#" class="nav-link py-3 border-bottom border-secondary link-light" title="Automator" [routerLink]="['/automator']">
            <fa-icon [icon]="faRobot"></fa-icon> <br />
            <span>Automator</span>
        </a>
    </li>
    <li>
        <a href="#" class="nav-link py-3 border-bottom border-secondary link-light" title="About" [routerLink]="['/about']">
            <fa-icon [icon]="faQuestionCircle"></fa-icon> <br />
            <span>About</span>
        </a>
    </li>
</ul>
<div class="dropdown border-top">
    <a href="#"
        class="d-flex align-items-center justify-content-center py-0 px-3 link-light text-decoration-none dropdown-toggle"
        id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="assets/img/gear-solid.svg"  class="p-3">
    </a>
    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3">
        <li><a class="dropdown-item" href="#">New project...</a></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
    </ul>
</div>
</div>