<div class="card bg-dark">
    <h5 class="card-header bg-dark">Check if the entered seed phrase(s) are valid</h5>
    <div class="card-body">
        <p class="card-text">
          Enter seed phrase(s):
        </p>
  
        <div class="card-text">
            <div class="row">
                <div class="col">
                  <textarea class="form-control font-code" rows="5" [(ngModel)]="seeds"></textarea>
                </div>
            </div>
            <br />
        </div>
        <p class="card-text">
          <button (click)="isValidSeed()" class="btn">Check</button>
        </p>
        <p class="card-text">
          <textarea class="form-control font-code" rows="20" disabled>{{result}}</textarea>
        </p>
    </div>
  </div>