<div class="card bg-dark">
    <h5 class="card-header bg-dark">Get public addresses from private key</h5>
    <div class="card-body">
        <p class="card-text">
          Enter private keys and get the public address.
        </p>
  
        <div class="card-text">
            <div class="row">
                <div class="col">
                  <textarea class="form-control font-code" rows="2" [(ngModel)]="privateKeys"></textarea>
                </div>
            </div>
            <br />
        </div>
        <p class="card-text">
          <button (click)="getAddresses()" class="btn">Get Address(es)</button>
        </p>
        <p class="card-text">
          <textarea class="form-control font-code" rows="20" disabled>{{genAddresses}}</textarea>
        </p>
    </div>
  </div>