<div class="card bg-dark">
    <h5 class="card-header bg-dark">Get Balance from Addresses</h5>
    <div class="card-body">
      <p class="card-text">
          Enter public addresses below to get the balance (one address per line)
      </p>
      <p class="card-text">
        <textarea class="form-control font-code" rows="12" [(ngModel)]="addresses"></textarea><br />

        Delimiter: <br />
        <input type="text" class="form-control" [(ngModel)]="delimiter">
    </p>
    <p class="card-text">
      <button (click)="getBalances()" class="btn" >Get Balances</button>
    </p>
    <p class="card-text">
        <textarea class="form-control font-code" rows="12" disabled>{{balances}}</textarea>
       </p> 
    </div>
  </div>