<div class="card bg-dark">
    <h5 class="card-header bg-dark">Get public addresses from seed phrase</h5>
    <div class="card-body">
      <p class="card-text">
          Enter a seed phrase and derive as much public addresses as you want. 
      </p>
      <p class="card-text">
        <textarea class="form-control font-code" rows="2" [(ngModel)]="seedPhrase"></textarea><br />

        Number of derived addresses: <br />
        <input type="number" class="form-control" max="100" min="1" [(ngModel)]="nrOfAddresses"><br />

        Derivation path: <br />
        <input type="text" class="form-control" [(ngModel)]="derivationPath">
    </p>
    <p class="card-text">
      <button (click)="getAddresses()" class="btn" >Get Addresses</button>
    </p>
    <p class="card-text">
        <textarea class="form-control font-code" rows="20" disabled>{{genAddresses}}</textarea>
        
       </p> 
    </div>
  </div>