<div class="cardmx-0 my-1 alert-primary">
  <div class="card-header d-flex justify-content-between fw-bold">
    <div>Input &amp; Results</div>
    <div>
      <button (click)="clear()" class="btn p-0">
        <fa-icon [icon]="faTrash"></fa-icon>
      </button>
    </div>
  </div>
</div>

<div class="form-floating my-1">
  <textarea class="form-control w-100 input" [(ngModel)]="dataService.input"></textarea>
  <label for="floatingInput">Input</label>
</div>

<div *ngFor="let res of dataService.results" class="form-floating mb-1">
  <textarea class="form-control w-100 result" style="height: 100%;"
    rows="{{res.result.split('\n').length}}">{{res.result}}</textarea>
  <label for="floatingInput">{{res.actionName}}</label>
</div>