/* You can add global styles to this file, and also import other style files */

@import 'assets/variables';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.hide-if-empty:empty {
    display: none;
}

html {
    background-color: $dark;
}

body {
    color: $light;
}

.bg-sidenav {
    border-right: 1px solid $secondary;
}

.font-code {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: small;
}

#action-main {
    background-color: $secondary;
}

#io-col {
    background-color: $dark;
}

.eth-main, .eth-rinkeby {
    background-color: $dark;
}

.ecs-main, .ecs-test {
    background-color: #278DE1;
}

.gns-main {
    background-color: #04795B;
}

.cursor-pointer {
    cursor: pointer;
}
