/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.hide-if-empty:empty {
    display: none;
}

body {
    color: white;
}

#action-main {
    background-color: $secondary;
}

#io-col {
    background-color: $dark;
}

.eth-main, .eth-rinkeby {
    background-color: $dark;
}

.ecs-main, .ecs-test {
    background-color: #278DE1;
}

.gns-main {
    background-color: #04795B;
}