<div class="px-3 pt-3 text-white min-vh-100">
    <a href="#" class="mb-3 mb-md-0 text-white text-decoration-none">
        <span class=""><fa-icon [icon]="faHammer" class="px-2"></fa-icon> Web3ToolKit</span>
    </a>
    <hr>

    <div class="accordion" id="menuAccordion">
      <div class="accordion-item">
        <h2 class="accordion-header" id="acc-headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#acc-collapseOne" aria-expanded="true" aria-controls="acc-collapseOne">
            <fa-icon [icon]="faWallet" class="px-2"></fa-icon> Key Management
          </button>
        </h2>
        <div id="acc-collapseOne" class="accordion-collapse collapse show" aria-labelledby="acc-headingOne">
          <div class="accordion-body">
            <a href="#" (click)="addGenSeedPhrase()" class="nav-link">Generate Seed Phrase</a>
          </div>
          <div class="accordion-body">
            <a href="#" (click)="addPrivateKeyAction()" class="nav-link">Get Private Keys</a>
          </div>
          <div class="accordion-body">
            <a href="#" (click)="addAddressesAction()" class="nav-link">Get Addresses from Seed Phrase</a>
          </div>
          <div class="accordion-body">
            <a href="#" (click)="addAddressesPKAction()" class="nav-link">Get Addresses from Private Key(s)</a>
          </div>
          <div class="accordion-body">
            <a href="#" (click)="addBalanceAction()" class="nav-link">Get Balance</a>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="acc-headingTwo">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#acc-collapseTwo" aria-expanded="true" aria-controls="acc-collapseTwo">
            <fa-icon [icon]="faCode" class="px-2"></fa-icon> Transactions
          </button>
        </h2>
        <div id="acc-collapseTwo" class="accordion-collapse collapse show" aria-labelledby="acc-headingTwo">
          <div class="accordion-body">
            <a href="#" (click)="genSeedPhrase()" class="nav-link">Execute Transaction</a>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="acc-headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#acc-collapseThree" aria-expanded="false" aria-controls="acc-collapseThree">
            Utils
          </button>
        </h2>
        <div id="acc-collapseThree" class="accordion-collapse collapse" aria-labelledby="acc-headingThree">
          <div class="accordion-body">
            <a href="#" (click)="genSeedPhrase()" class="nav-link">todo...</a>
          </div>
        </div>
      </div>
    </div>

</div>



