<div class="card bg-dark">
    <h5 class="card-header bg-dark">Generate Key Pair(s)</h5>
    <div class="card-body">
      <p class="card-text">
          Generate as much private keys and addresses as you want by clicking one button.
      </p>
      <p class="card-text">
        Number of key pairs: <br />
        <input type="number" class="form-control" max="100" min="1" [(ngModel)]="nrOfKeyPairs">
    </p>
    <p class="card-text">
      <button (click)="generateKeyPairs()" class="btn" >Generate</button>
    </p>
    <p class="card-text">
        <textarea class="form-control font-code" rows="20" disabled>{{genKeyPairs}}</textarea>
        
       </p> 
    </div>
  </div>