<div class="card bg-dark">
    <h5 class="card-header bg-dark">Drain Funds</h5>
    <div class="card-body">
        <p class="card-text">
            Enter one or multiple seed phrases, a target address and execute this tool to move all
            funds of the addresses of the seed phrases to the target address.
        </p>

        <div class="card-text">
            <div class="row">
                <div class="col">
                    <textarea class="form-control font-code" rows="2" [(ngModel)]="seedPhrases"></textarea>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    Number of derived addresses: <br />
                    <input type="number" class="form-control" max="100" min="1" [(ngModel)]="nrOfAddresses">
                </div>
                <div class="col-6">
                    Derivation path: <br />
                    <input type="text" class="form-control" [(ngModel)]="derivationPath">
                </div>
            </div>

            
            <div class="row">
                <div class="col">
                Target Address: <br />
                <input type="text" class="form-control" [(ngModel)]="targetAddress">
                </div>
            </div>

            <div class="row">
                <div class="col-6">Gas: <input type="number" class="form-control" [(ngModel)]="gas"></div>
                <div class="col-6">
                    Gas Price (Gwei): <input type="number" class="form-control" [(ngModel)]="gasPrice">
                </div>
            </div>
            <br />
        </div>
        <p class="card-text">
            <button (click)="drainFunds()" class="btn">Drain Funds</button>
        </p>
        <p class="card-text">
            <textarea class="form-control font-code" rows="20" disabled>{{output}}</textarea>
        </p>
    </div>
</div>