
<div class="row row-cols-1 row-cols-md-3 g-4 p-5">
    <div class="col" *ngFor="let tool of tools">
        <div  class="card bg-dark border-info h-100">
            <div class="card-body">
                <h5 class="card-title"><fa-icon [icon]="tool.icon" class="px-2"></fa-icon> {{tool.module}}</h5>
                <hr />
                <div *ngFor="let action of tool.actions">
                    <a href="#" class="nav-link w-100 m-3 text-start" [routerLink]="action.route">{{action.name}}</a> 
                </div>
            </div>
        </div>
    </div>
