<div class="card bg-dark">
    <h5 class="card-header bg-dark">Get Balances from Address per Block</h5>
    <div class="card-body">
      <p class="card-text">
          Enter public address below to get the balance (one address)
      </p>
      <p class="card-text">
        <input type="text" class="form-control" [(ngModel)]="address" placeholder="Address to check"><br />
        Token Contract Address (optional): <br />
        <input type="text" class="form-control" [(ngModel)]="tokenAddress" placeholder="Token contract address (leave empty for native currency)"><br />
        Delimiter: <br />
        <input type="text" class="form-control" [(ngModel)]="delimiter"><br />

        Start Block: <br />
        <input type="number" class="form-control" min="1" [(ngModel)]="startBlock"><br />
        End Block: <br />
        <input type="number" class="form-control" min="1" [(ngModel)]="endBlock"><br />
        Iteration: <br />
        <input type="number" class="form-control" min="1" [(ngModel)]="iteration"><br />
    </p>
    <p class="card-text">
      <button (click)="getBalances()" class="btn" >Get Balances</button>
    </p>
    <p class="card-text">
        <textarea class="form-control font-code" rows="12" disabled>{{balances}}</textarea>
       </p> 
    </div>
  </div>