
<header>
  <!-- todo -->

</header>


<!-- <div class="bg-dark">
<w3tk-sidebar ></w3tk-sidebar>
</div> -->
<main class="p-0">
  <div class="container-fluid">
    <div class="row flex-nowrap">
      <div class="col-2 py-3 bg-dark border-right border-secondary">
        <w3tk-sidebar></w3tk-sidebar>
      </div>
      <div class="col-10 py-0">
        <div class="row flex-nowrap">
          <div class="col-4 p-1 bg-secondary">      
            <w3tk-gen-seed-phrase></w3tk-gen-seed-phrase>
            <w3tk-get-keys-from-seed-phrase></w3tk-get-keys-from-seed-phrase>
            <w3tk-get-balance></w3tk-get-balance>
          </div>

          <div class="col-8 py-3 bg-dark">
            <div class="row p-3">
              <span class="text-white ">Network:</span>
              

            </div>
            <div class="row p-3">

              <h4 class="text-white">Input:</h4>
              <textarea class="w-100">{{output}}</textarea>
            </div>
            <div class="row p-3">
              
              <h4 class="text-white">Output:</h4>
              <textarea class="w-100"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<!--Main layout-->


<router-outlet></router-outlet>
