@import '../../../../assets/variables';

.header {
    height: 52px;

    img {
        height: 32px;
    }
}

.dropdown-menu {
    min-width: 220px;
}

.btn {
    border: none;
}
.btn:hover, .btn:focus, .btn:active {
    color: white;
    background-color: $dark;
}

.network-dropdown {
    
    img {
        object-fit: contain;
        width: 24px;
        height: 28px;
        padding-right: 3px;
    }

    li:hover {
        background-color: none;
    }

    button {
        color: white;
    }

    button:hover {

        color: $info;
        background-color: $dark;
    }
}